<ion-header>
  <ion-toolbar>
    <ion-title>Sleepiness Full Log</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-grid>
     <ion-row>
      <ion-col style="background-color: #007AFF; color:white;"><strong>#</strong></ion-col>
      <ion-col style="background-color: #007AFF; color:white;"><strong>Date and Time</strong></ion-col>
      <ion-col style="background-color: #007AFF; color:white;"><strong>Level of Sleepiness</strong></ion-col>
     </ion-row>
  
     <tr *ngFor="let date of dateString; index as i">
      <ion-row>
        <ion-col>{{i+1}}</ion-col>
        <ion-col>{{date}}</ion-col>
        <ion-col>{{levelOfSleepinessString[i]}}</ion-col>
      </ion-row>
    </tr>
    </ion-grid>

</ion-content>
